#contact-section {
    background-color: #FF4500; /* orange red */
    .contact-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
    }
    
    .contact-form {
        flex: 0 1 70%;
        margin-right: 20px;
        color:#f0f0f0;
    }
    
    .contact-address {
        flex: 1;
         color:#f0f0f0;
    }
    
}
