#hero-section {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;

    .hero-content {
       position: absolute;
       right: 0;
       top: 50%; /* To center the text vertically */
       transform: translate(0%, -50%);
       max-width: 430px;
       text-align: left;
       color: #FFFFE0;
       text-shadow: 0 2px 4px rgba(0,0,0,0.6);
    }

    .hero-content h1 {
        font-size: 28px;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    .hero-content p {
        font-size: 18px;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
         color: #FFFFFF;
    }


}

