 #hero-section {

    background-image: url('about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

    .hero-content {
        position: absolute;
         right: 0;
       top: 50%; /* To center the text vertically */

        max-width: 500px;

        text-align: left;
        color: #FFFFE0;
    }

    .hero-content h1 {
        font-size: 28px;
        margin-bottom: 20px;
        font-family: "Helvetica", sans-serif;
        color: #FFFFFF;
    }

    .hero-content p {
        font-size: 18px;
        margin-bottom: 30px;
        font-family: "Helvetica", sans-serif;
         color: #FFFFFF;
    }


}
