/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Contact section styles */
#contact {
    background-color: #f5f5f5;
    color: #333;
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    color: #666;
}

footer p {
    display: block;
}


/* Header styles */
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 100%;
    max-height: 100px;
}

.menu-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-family: "Arial", sans-serif;
}

.submenu {
    position: relative;
}

.submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
}

.submenu:hover .submenu-items {
    display: block;
}

/* Hero section styles */
#hero-section {
    position: relative;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picture-container {
    flex-basis: 50%;
    text-align: right;
    position: relative;
}

.company-picture {
    max-width: 100%;
    height: auto;
}

.slogan-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.slogan {
    font-size: 24px;
    color: #fff;
    font-family: "Arial", sans-serif;
}

.hero-content {
    flex-basis: 50%;
    max-width: 450px;
    margin-left: 30px;
    text-align: left;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Helvetica", sans-serif;
    color: #333;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Helvetica", sans-serif;
    color: #555;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #666;
}

#trends-section {
    width: 100%;
    padding: 5px 0;
}

.container {
    width: 100%;
    margin: auto;
    height: 410px; /* Adjust as needed */
    overflow-y: hidden; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.section-title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
}

.news-item {
    width: 100%; /* Changes here */
    box-sizing: border-box;
    margin-bottom: 20px; /* Additional spacing between news items */
}

.news-title {
    font-size: 20px;
    font-weight: bold;
}

.news-summary {
    font-size: 16px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7d817e;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #444;
}


/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #666;
}


.slogan-container {
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    color: #ff8800;
}



/* Styles for About page */
main {
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

main h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

main section {
    margin-bottom: 20px;
}

main section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

main section p {
    font-size: 1em;
    color: #333;
    text-align: justify;
}


/* Contact info styles */
#contact-info {
    background-color: #f5f5f5;
    text-align: left;
    padding: 100px 0;
}

#contact-info h2 {
    font-size: 24px;
    color: #333;
    font-family: "Arial", sans-serif;
}

#contact-info p {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Helvetica", sans-serif;
    color: #555;
}
