/* Global styles */


body {
    background-image: url("network.jpg");
    background-repeat: no-repeat; /* prevent the image from repeating */
    background-size: cover;
    font-family: Arial, sans-serif;
     margin: 0;
    padding: 0;
}




/* Header styles */
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 100%;
    max-height: 100px;
}

.menu-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-family: "Arial", sans-serif;
}

.submenu {
    position: relative;
}

.submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
}

.submenu:hover .submenu-items {
    display: block;
}



/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #666;
}

footer p {
    display: block;
}


