/* Global styles */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}




/* Header styles */
header {
    background: linear-gradient(90deg, #1c1c1c, #343434);
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 100%;
    max-height: 100px;
}

.menu-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ddd;
}

.submenu {
    position: relative;
}

.submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
}

.submenu:hover .submenu-items {
    display: block;
}



/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #666;
}

footer p {
    display: block;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Adjust the styles to fit smaller screens */
    header {
        padding: 5px;
    }
    
    .logo {
        max-height: 80px;
    }

    .menu li {
        margin-right: 10px;
    }
    
    .submenu-items {
        top: auto;
        bottom: 100%;
    }
    
    footer {
        padding: 5px;
    }
}
